body {
    color: #222;
    font: 400 14px CoreSans, Arial, sans-serif;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.3799719716988358) 0%, rgba(0, 212, 255, 0.38837533304337357) 81%);
}

a {
    color: rgb(48, 39, 39);
}

a:hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #dddddd;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: transparent;
    color: #808080;
    cursor: pointer;
}

button:hover {
    color: #222;
}